

.header {
    display: flex;
    align-items: center; 
    padding: 20px 50px;}
  
.logo {
    max-width: 400px;
    width: 300px;
    margin-left: 20px;
  }

  
.title {
    font-size: 24px;
    margin-left: 20px; 
  }