/* MainContent.module.css */

.app {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  font-family: 'Playfair Display', serif;
  color: #333;
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d9');
  background-size: cover;
}

.logo {
  max-width: 150px; /* Control the size of the logo */
  height: auto; /* Maintain the aspect ratio of the logo */
  display: block; /* Place the logo on a new line */
  margin: 0 auto; /* Center the logo horizontally */
}

.header {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.mainContent {
  padding: 20px;
  background: rgba(255, 255,
  255, 0.8);}